* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-text-color: lightseagreen;
  --light-text-color: floralwhite;
  --background-color: darkslategray;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--main-text-color);
  background-color: var(--light-text-color);
}

h3 {
  flex: 0 100%;
  color: var(--light-text-color);
  padding-left: 30%;
  background-color: blue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  padding: 20px 35px;
  background-color: darkslateblue;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("../images/ff7r-redxiii-v2-1920x1080-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--light-text-color);
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: var(--light-text-color);
}

header a:hover {
  background-color: var(--main-text-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero {
  background-image: url("../images/ff7r-redxiii-v2-1920x1080-1.jpg");
  background-size: cover;
  color: var(--light-text-color);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
  height: 450px;
  position: relative;
}

.circle {
  background-color: blue;
  position: absolute;
  right: 0;
  bottom: 25%;
  height: 70px;
  border-radius: 50%;
  opacity: 0.9;
}

.hero h2 {
  margin-top: 25px;
  color: floralwhite;
}

footer {
  text-align: center;
  background-color: black;
  color: var(--light-text-color);
  width: 100%;
  padding: 40px 35px;
  display: block;
}

footer img {
  height: 50px;
  width: auto;
}
.contact-info {
  text-align: center;
}

section::before {
  display: block;
  content: " ";
  margin-top: -80px;
  height: 80px;
  visibility: hidden;
}

h2 {
  text-align: left;
  color: darkslateblue;
}
.contact-info img {
  height: 200px;
  width: 200px;
}

.contact-info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.contact-info::before {
  display: block;
  content: " ";
  margin-top: 0px;
  height: 0px;
  visibility: hidden;
}
.contact-info {
  background-color: floralwhite;
  color: darkslateblue;
}

.contact-info h2 {
  color: darkslateblue;
}

.contact-info a {
  text-decoration: none;
  color: darkslateblue;
  font-weight: bold;
}

.projects ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
}

.projects img {
  height: 200px;
  width: 700px;
}

.larger {
  height: 400px;
  width: 100%;
  margin-bottom: 20px;
}
.projects ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.projects a {
  color: var(--main-text-color);
  text-decoration: none;
  margin-bottom: 20px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}

.projects a:hover {
  background-color: var(--main-text-color);
  opacity: 0.4;
}
.about-me {
  font-size: larger;
  margin-bottom: 20px;
  background-color: floralwhite;
  color: darkslateblue;
}

.about-me h2 {
  color: darkslateblue;
}

.birthday {
  background-image: url("../images/tristan-smile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 200px;
  width: 700px;
  position: relative;
}

.btext {
  position: absolute;
  bottom: 20%;
  height: 50px;
}

.run {
  background-image: url("../images/run.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 400px;
  width: 100%;
  position: relative;
}

.runtext {
  position: absolute;
  bottom: 20%;
  height: 50px;
}

.music {
  background-image: url("../images/nobuo.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 200px;
  width: 700px;
  position: relative;
}

.musictext {
  position: absolute;
  bottom: 20%;
  height: 50px;
}

.hello {
  background-image: url("../images/world.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 200px;
  width: 700px;
  position: relative;
}

.hellotext {
  position: absolute;
  bottom: 20%;
  height: 50px;
}

.thank {
  background-image: url("../images/ThankYou.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 200px;
  width: 700px;
  position: relative;
}

.thanktext {
  position: absolute;
  bottom: 20%;
  height: 50px;
}
